@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    Layout = null;
    var root = Umbraco.ContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == Home.ModelTypeAlias).SafeCast<Home>();
}

<!DOCTYPE html>
<html lang="uk">

<head>
    <link href="/css/main.css?v=@Guid.NewGuid()" rel="stylesheet" type="text/css">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="/css/slick-theme.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <meta name="description" content="@root.Description">
    <meta name="keywords" content="@root.Keywords">
    <meta charset="UTF-8">
    <title>@root.Title</title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DCD6V8XJWK"></script>
    <script>window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-DCD6V8XJWK');</script>
</head>
<body>

    @foreach (var item in Model.Children.Where(x => x.IsVisible()))
    {
        var str = char.ToUpper(item.ContentType.Alias[0]) + item.ContentType.Alias.Substring(1);
        await Html.RenderPartialAsync(str, item);
    }

    <footer>
        <div>
            <img src="/img/visamaster.png" />
        </div>
        <div>
            <a class="termofuselink" href="@Umbraco.ContentAtRoot().FirstOrDefault(x=>x.ContentType.Alias == TermOfUses.ModelTypeAlias)?.Url()">Правила і умови</a>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script type="text/javascript" src="/scripts/slick.js"></script>
    <script type="text/javascript" src="/scripts/main.js?v=@Guid.NewGuid()"></script>
</body>

</html>