
src/AventadorWeb/.vs/AventadorWeb/xs/project-cache/AventadorWeb-Debug.json
src/AventadorWeb/.vs/AventadorWeb/xs/UserPrefs.xml
src/AventadorWeb/AventadorWeb/bin/Debug/net6.0/AventadorWeb
src/AventadorWeb/AventadorWeb/bin/Debug/net6.0/AventadorWeb.dll
src/AventadorWeb/AventadorWeb/bin/Debug/net6.0/AventadorWeb.pdb
src/AventadorWeb/AventadorWeb/obj/AventadorWeb.csproj.nuget.dgspec.json
src/AventadorWeb/AventadorWeb/obj/AventadorWeb.csproj.nuget.g.props
src/AventadorWeb/AventadorWeb/obj/Debug/net6.0/apphost
src/AventadorWeb/AventadorWeb/obj/Debug/net6.0/AventadorWeb.assets.cache
src/AventadorWeb/AventadorWeb/obj/Debug/net6.0/AventadorWeb.csproj.AssemblyReference.cache
src/AventadorWeb/AventadorWeb/obj/Debug/net6.0/AventadorWeb.csproj.CoreCompileInputs.cache
src/AventadorWeb/AventadorWeb/obj/Debug/net6.0/AventadorWeb.dll
src/AventadorWeb/AventadorWeb/obj/Debug/net6.0/AventadorWeb.pdb
src/AventadorWeb/AventadorWeb/obj/project.assets.json
src/AventadorWeb/AventadorWeb/obj/project.nuget.cache
