@font-face {
    font-family: 'Crossfit-Bold';
    src: url('fonts/CrossfitDemo-Bold.otf');
}

@font-face {
    font-family: 'Unbounded-Bold';
    src: url('fonts/Unbounded-Bold.ttf');
}

@font-face {
    font-family: 'Unbounded-SemiBold';
    src: url('fonts/Unbounded-SemiBold.ttf');
}

@font-face {
    font-family: 'Unbounded-Regular';
    src: url('fonts/Unbounded-Regular.ttf');
}

html {
    --triangle-val: 100px;
    --max-width: 1440px;
}

* {
    margin: 0;
    padding: 0;
}

.hero-bg {
    height: 100vh;
    min-height: 720px;
    background-image: url(img/1.jpg);
    background-size: cover;
    z-index: 2;
    position: relative;
    clip-path: polygon(50% 100%,
            100% calc(100vh - var(--triangle-val)),
            100% 0,
            0 0,
            0 calc(100vh - var(--triangle-val)));
}

.shedule-section {
    background: url(img/11.jpg);
    background-size: cover;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.hero-button-container {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.hero-section {
    -webkit-backdrop-filter: grayscale(1);
    -moz-backdrop-filter: grayscale(1);
    -ms-backdrop-filter: grayscale(1);
    -o-backdrop-filter: grayscale(1);
    backdrop-filter: grayscale(1);
    max-height: 100vh;
    min-height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.logo {
    max-width: 150px;
}

.logo img {
    width: 100%;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: #fff;
}

.nav-item {
    padding: 10px;
}

.hero-main {
    text-align: center;
}

.hero-title {
    text-align: center;
    font-family: 'Crossfit-Bold';
    margin-top: 50px;
    font-size: 7vw;
    color: #fff;
    text-transform: uppercase;
}

.hero-button {
    background-color: #D80102;
    color: #fff;
    padding: 15px 45px;
    font-size: 3.5vw;
    border: none;
    cursor: pointer;
    outline: inherit;
    font-family: 'Unbounded-Bold';
    text-transform: uppercase;
}

.why-crossfit-bg {
    margin-top: calc(var(--triangle-val) * -1);
    z-index: 1;
    background-image: url(img/10.jpg);
    background-size: cover;
}

.why-crossfit-content {
    padding-top: var(--triangle-val);
    background-color: #c0c0c0e0;
    padding-bottom: 100px;
}

.why-crossfit-content-title {
    font-size: 4vw;
    color: #000;
    font-family: 'Unbounded-Bold';
    text-transform: uppercase;
    text-align: center;
}

.why-crossfit-content-text {
    margin-bottom: 50px;
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 1vw;
    font-family: 'Unbounded-SemiBold';
    text-align: justify;
}

.small-service{
    font-size: 1vw;
    text-transform: lowercase;
}

.content-logo {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 30px;
}

.content-logo img {
    max-width: 500px;
    height: auto;
}

.question-small {
    display: block;
    text-transform: uppercase;
    font-size: 1vw;
    margin-bottom: 25px;
    margin-top: 25px;
    color: #D80102;
    font-family: 'Unbounded-Regular';
}

.button-content-container {
    text-align: center;
}

.schedule {
    padding: 100px;
    -webkit-backdrop-filter: grayscale(1);
    -moz-backdrop-filter: grayscale(1);
    -ms-backdrop-filter: grayscale(1);
    -o-backdrop-filter: grayscale(1);
    backdrop-filter: grayscale(1);
}



.schedule-raw {
    font-family: 'Unbounded-Regular';
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin-bottom: 5px;
    font-size: 1.5vw;
}

.schedule-raw>div {
    border-radius: 5px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chedule-header-item {
    font-family: 'Unbounded-Regular';
    background-color: #8784845c;
    color: #fff;
    text-align: center;
    padding: 25px;
    font-size: 1.2vw;
}

.max-time {
    background-color: #D80102
}

.alex-time span,
.max-time span {
    display: block;
}

.empty-time {
    background-color: #c0c0c036;
}

.alex-time {
    background-color: #878484;
}

.shedule-header {
    font-family: 'Unbounded-Bold';
    text-transform: uppercase;
    text-align: center;
    font-size: 4vw;
    color: #fff;
    margin-bottom: 25px;
}

.service-title {
    font-family: 'Unbounded-Bold';
    text-align: center;
    font-size: 5vw;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.service-title-list-item {
    display: flex;
    font-family: 'Unbounded-Regular';
    justify-content: space-between;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 2vw;
}

.services-bg {
    padding: 100px;
    background-color: #fff;
    background: url(img/12.jpg);
    background-size: cover;
}

hr {
    border: 1px solid #d8010257;
}

.coaches {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.coaches img {
    max-height: 350px;
    width: auto;
}

.coach-item {
    text-align: center;
}

.coaches h3 {
    font-family: 'Unbounded-SemiBold';
    margin-top: 15px;
    text-transform: uppercase;
}

.coaches h4 {
    font-family: 'Unbounded-Regular';
    color: #D80102;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.coaches p {
    font-family: 'Unbounded-Regular';
    font-size: 1vw;
    text-transform: uppercase;
}

.coaches-bg {
    background-image: url(img/6.jpeg);
    background-size: cover;
}

.coached-content {
    padding: 100px;
    background-color: #c0c0c0e0;
}

.contact-us {
    padding: 100px;
    text-align: center;
    background-image: url(img/9.jpg);
    background-size: cover;
}

.contact-us h2 {
    font-family: 'Unbounded-Bold';
    color: #fff;
    text-align: center;
    font-size: 5vw;
}

.contact-us h3 {
    font-family: 'Unbounded-SemiBold';
    color: #fff;
    text-align: center;
    font-size: 1.5vw;
}

.nav-item {
    font-family: 'Unbounded-SemiBold';
    cursor: pointer;
    margin: 5px;
    text-transform: uppercase;
}

.nav-item-active {
    border: 2px solid #fff;
}

.nav-item:hover {
    border: 2px solid #fff;
}


.contact-input {
    display: block;
    margin: auto;
    height: 50px;
}



@media (max-width:1024px) {

    .schedule {
        padding: 50px;
    }

    .services-bg {
        padding: 50px;
    }

    .coached-content {
        padding: 50px;
    }

    .contact-us {
        padding: 50px;
    }

    .coaches {
        display: block;
    }

    .hero-bg {
        height: 720px;
        clip-path: polygon(50% 100%, 100% calc(720px - var(--triangle-val)), 100% 0, 0 0, 0 calc(720px - var(--triangle-val)));
    }

    .hero-section {
        height: 720px;
    }

    .chedule-header-item {
        padding: 3px;
    }

    .why-crossfit-content-text {
        padding: 50px;
        font-size: 2vw;
    }

    .why-crossfit-content-title {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}