@page
@model AventadorWeb.Pages.IndexModel
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"


<!DOCTYPE html>
<html lang="uk">

<head>
    <link href="style.css?v=@Guid.NewGuid()" rel="stylesheet" type="text/css">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="/slick.css" />
    <link rel="stylesheet" type="text/css" href="/slick-theme.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <title>Aventador 2.0 | Crossfit</title>
</head>

<body>
    <section class="hero-bg">
        <div class="black-wrapper">
            <div class="hero-section container">
                <div class="navigation full">
                    <div class="logo">
                        <img src="img/logo.png">
                    </div>
                    <nav>
                        <div data-target="about-us-anchor" class="clickable nav-item">
                            <span>Галерея</span>
                        </div>
                        <div data-target="shedule" class="clickable nav-item">
                            <span>Розклад</span>
                        </div>
                        <div data-target="services" class="clickable nav-item">
                            <span>Послуги</span>
                        </div>
                        <div data-target="team" class="clickable nav-item">
                            <span>Команда</span>
                        </div>
                        <div data-target="contact-us" class="clickable nav-item">
                            <span>Контакти</span>
                        </div>
                    </nav>
                    <div class="right-nav">
                        <a href="tel:+380966577116">096 657 71 16</a>
                        <div class="button-popup">Записатись</div>
                    </div>
                </div>
                <div class="navigation mobile">
                    <div class="logo">
                        <img src="img/logo.png">
                    </div>
                    <div class="mobile-menu-button open-menu">
                        <hr>
                        <hr>
                        <hr>
                    </div>
                </div>
                <div class="mobile-menu st0">
                    <div class="mobile-menu-button close-menu">
                        <img src="img/cross.png" alt="">
                    </div>
                    <nav>
                        <div data-target="about-us-anchor" class="clickable nav-item">
                            <span>Галерея</span>
                        </div>
                        <div data-target="shedule" class="clickable nav-item">
                            <span>Розклад</span>
                        </div>
                        <div data-target="services" class="clickable nav-item">
                            <span>Послуги</span>
                        </div>
                        <div data-target="team" class="clickable nav-item">
                            <span>Команда</span>
                        </div>
                        <div data-target="contact-us" class="clickable nav-item">
                            <span>Контакти</span>
                        </div>
                    </nav>
                    <div class="right-nav">
                        <div class="button-popup">Записатись</div>
                        <a href="tel:+380966577116">096 657 71 16</a>
                    </div>
                    <div class="logo">
                        <img src="img/logo.png">
                    </div>
                </div>
                <div class="video-container">
                    <div id="play-stop-button" class="play-button pointer"></div>
                    <video id="video" src="video/aventador.MP4"></video>
                </div>
            </div>
        </div>
    </section>
    <section class="why-crossfit-bg">
        <div class="why-crossfit-content">
            <div class="about">
                <div class="about-top">
                    <h2>
                        в aventador особлива атмосфера
                    </h2>
                    <div class="about-contacts">
                        <div class="button-popup">Записатись</div>
                        <p>або зателефонувати</p>
                        <a href="tel:+380966577116">096 657 71 16</a>
                    </div>
                </div>
                <div class="about-bottom">
                    <div class="about-box">
                        <img src="img/cube.png" alt="">
                        <p>Ефективні тренування з ретельно продуманою структурою</p>
                    </div>
                    <div class="about-box">
                        <img src="img/muscle.png" alt="">
                        <p>Професійні тренери, які пройшли ретельний відбір</p>
                    </div>
                    <div class="about-box">
                        <img src="img/concentration.png" alt="">
                        <p>Комфортна атмосфера допоможе зконцентруватися на тренуванні</p>
                    </div>
                </div>
            </div>

            <div class="gallery-grid" id="about-us">
                <div class="a">
                    <img class="popup-preview" src="/img/google1.jpeg" />
                </div>
                <div class="b">
                    <img class="popup-preview" src="/img/inst1.jpeg" />
                </div>
                <div class="c">
                    <img class="popup-preview" src="/img/zal3.jpg" />
                </div>
                <div class="d">
                    <img class="popup-preview" src="/img/zal2.jpg" />
                </div>
                <div class="e">
                    <img class="popup-preview" src="/img/zal1.jpg" />
                </div>
                <div class="f">
                    <img class="popup-preview" src="/img/inst3.jpeg" />
                </div>
                <div class="g">
                    <img class="popup-preview" src="/img/inst5.jpeg" />
                </div>
            </div>
            <div class="images-popup" style="display: none;">
                <div class="images-popup-content">
                    <div class="popup-close">
                        <img src="img/cross.png">
                    </div>
                    <div class="image-open-container">
                        <div class="container-item">
                            <img src="/img/google1.jpeg" />
                        </div>
                        <div class="container-item">
                            <img src="/img/inst1.jpeg" />
                        </div>
                        <div class="container-item">
                            <img src="/img/zal3.jpg" />
                        </div>
                        <div class="container-item">
                            <img src="/img/zal2.jpg" />
                        </div>
                        <div class="container-item">
                            <img src="/img/zal1.jpg" />
                        </div>
                        <div class="container-item">
                            <img src="/img/inst3.jpeg" />
                        </div>
                        <div class="container-item">
                            <img src="/img/inst5.jpeg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="shedule-section" id="shedule">
        <div class="black-wrapper">
            <div class="schedule container">
                <h2 class="shedule-header">Розклад групових занять</h2>
                <div class="schedule-raw">
                    <div class="chedule-header-item">09:00</div>
                    <div class="max-time shedule-details">
                        <div class="days-data">
                            <div>
                                <span class="shedule-sport">crossfit</span>
                            </div>
                            <div class="days-item">
                                <span>ПН СР ПТ</span>
                            </div>
                        </div>
                    </div>
                    <div class="max-time right-coach">
                        <img class="shedule-img" src="/img/max_square.jpg" />
                        <span>Максим</span>
                    </div>
                </div>
                <div class="schedule-raw">
                    <div class="chedule-header-item">10:00</div>
                    <div class="max-time shedule-details">
                        <div class="days-data">
                            <div>
                                <span class="shedule-sport">crossfit</span>
                            </div>
                            <div class="days-item">
                                <span>ВТ ЧТ</span>
                            </div>
                        </div>
                    </div>
                    <div class="max-time right-coach">
                        <img class="shedule-img" src="/img/alex_square.jpg" />
                        <span>Саша</span>
                    </div>
                </div>
                <div class="schedule-raw">
                    <div class="chedule-header-item">11:00</div>
                    <div class="max-time shedule-details">
                        <div class="days-data">
                            <div>
                                <span class="shedule-sport">crossfit</span>
                            </div>
                            <div class="days-item">
                                <span>СБ</span>
                            </div>
                        </div>
                    </div>
                    <div class="max-time right-coach">
                        <img class="shedule-img" src="/img/alex_square.jpg" />
                        <span>Саша</span>
                    </div>
                </div>
                <div class="schedule-raw">
                    <div class="chedule-header-item">12:00</div>
                    <div class="max-time shedule-details">
                        <div class="days-data">
                            <div>
                                <span class="shedule-sport">crossfit</span>
                            </div>
                            <div class="days-item">
                                <span>ПН СР ПТ</span>
                            </div>
                        </div>
                    </div>
                    <div class="max-time right-coach">
                        <img class="shedule-img" src="/img/alex_square.jpg" />
                        <span>Саша</span>
                    </div>
                </div>
                <div class="schedule-raw">
                    <div class="chedule-header-item">12:30</div>
                    <div class="max-time shedule-details">
                        <div class="days-data">
                            <div>
                                <span class="shedule-sport">mobility</span>
                            </div>
                            <div class="days-item">
                                <span>СБ</span>
                            </div>
                        </div>
                    </div>
                    <div class="max-time right-coach">
                        <img class="shedule-img" src="/img/max_square.jpg" />
                        <span>Максим</span>
                    </div>
                </div>
                <div class="schedule-raw-merged">
                    <div class="chedule-header-item left">17:00</div>
                    <div class="max-time shedule-details middle-top">
                        <div class="days-data">
                            <div>
                                <span class="shedule-sport">crossfit</span>
                            </div>
                            <div class="days-item">
                                <span>ПН СР ПТ</span>
                            </div>
                        </div>
                    </div>
                    <div class="max-time right-coach right-top">
                        <img class="shedule-img" src="/img/alex_square.jpg" />
                        <span>Саша</span>
                    </div>
                    <div class="max-time shedule-details middle-bottom">
                        <div class="days-data">
                            <div>
                                <span class="shedule-sport">crossfit</span>
                            </div>
                            <div class="days-item">
                                <span>ВТ ЧТ</span>
                            </div>
                        </div>
                    </div>
                    <div class="max-time right-coach right-bottom">
                        <img class="shedule-img" src="/img/max_square.jpg" />
                        <span>Максим</span>
                    </div>
                </div>
                <div class="schedule-raw-merged">
                    <div class="chedule-header-item left">18:30</div>
                    <div class="max-time shedule-details middle-top">
                        <div class="days-data">
                            <div>
                                <span class="shedule-sport">crossfit</span>
                            </div>
                            <div class="days-item">
                                <span>ПН СР ПТ</span>
                            </div>
                        </div>
                    </div>
                    <div class="max-time right-coach right-top">
                        <img class="shedule-img" src="/img/max_square.jpg" />
                        <span>Максим</span>
                    </div>
                    <div class="max-time shedule-details middle-bottom">
                        <div class="days-data">
                            <div>
                                <span class="shedule-sport">crossfit</span>
                            </div>
                            <div class="days-item">
                                <span>ВТ ЧТ</span>
                            </div>
                        </div>
                    </div>
                    <div class="max-time right-coach right-bottom">
                        <img class="shedule-img" src="/img/alex_square.jpg" />
                        <span>Саша</span>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <section class="services-bg" id="services">
        <div class="black-wrapper">
            <div class="container service-container">
                <div class="service-title">
                    Послуги
                </div>
                <div class="service-title-list-item">
                    <div>
                        Разове тренування
                    </div>
                    <div>
                        150
                    </div>
                </div>
                <hr>
                <div class="service-title-list-item">
                    <div>
                        12 тренувань <span class="small-service">(самостійно)</span>
                    </div>
                    <div>
                        850
                    </div>
                </div>
                <hr>

                <div class="service-title-list-item">
                    <div>
                        12 тренувань <span class="small-service">(група)</span>
                    </div>
                    <div>
                        999
                    </div>
                </div>
                <hr>

                <div class="service-title-list-item">
                    <div>
                        Безліміт на місяць <span class="small-service">(самостійно)</span>
                    </div>
                    <div>
                        1050
                    </div>
                </div>
                <hr>
                <div class="service-title-list-item">
                    <div>
                        Безліміт на місяць <span class="small-service">(група)</span>
                    </div>
                    <div>
                        1200
                    </div>
                </div>
                <hr>
                <div class="service-title-list-item">
                    <div>
                        Індивідуальне тренування <span class="small-service">(разове)</span>
                    </div>
                    <div>
                        350
                    </div>
                </div>
                <hr>
                <div class="service-title-list-item">
                    <div>
                        Індивідуальне тренування <span class="small-service">(12 занять)</span>
                    </div>
                    <div>
                        3500
                    </div>
                </div>
                <hr>
                <div class="service-title-list-item">
                    <div>
                        Парні індивідуальне тренування <span class="small-service">(разове)</span>
                    </div>
                    <div>
                        500
                    </div>
                </div>
                <hr>
                <div class="service-title-list-item">
                    <div>
                        Парні індивідуальне тренування <span class="small-service">(12 занять)</span>
                    </div>
                    <div>
                        5000
                    </div>
                </div>
                <hr>
            </div>
        </div>

    </section>

    <section class="coaches-bg" id="team">
        <div class="coached-content black-wrapper">
            <div class="container">
                <div class="service-title">
                    Наша команда
                </div>
                <div class="coaches">
                    <div>
                        <img src="/img/alex.jpg">
                        <div class="coach-item">
                            <h3>
                                Нежид Олександр
                            </h3>
                            <h4>coach</h4>
                            <p>
                                <span class="coach-description-item">
                                    Багатократний призер і учасник Crossfit змагань
                                </span>
                                <span class="coach-description-item">
                                    Діючий атлет з CrossFit.
                                </span>
                                <span class="coach-description-item">
                                    Досвід роботи більше 7 років
                                </span>
                                <span class="coach-description-item">
                                    Персональні та групові заняття з CrossFit, TRX, МФР
                                </span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <img src="/img/max.jpg">
                        <div class="coach-item">
                            <h3>
                                Кострубяк Максим
                            </h3>
                            <h4>coach</h4>
                            <p>
                                <span class="coach-description-item">
                                    Тренер Premium категорії, з досвідом роботи з 2016 року
                                </span>
                                <span class="coach-description-item">
                                    Діючий атлет з CrossFit.

                                </span>
                                <span class="coach-description-item">
                                    Персональні та групові заняття з CrossFit, TRX, МФР.
                                </span>
                                <span class="coach-description-item">
                                    КМС з Powerlifting (IPF)
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="contact-us" id="contact-us">
        <div class="black-wrapper">
            <div class="contact-us-grid container-contact-us">
                <div class="contact-us-grid-left">
                    <h2>Як нас знайти?</h2>
                    <h3>вулиця Храмова, 1 <br> Харків</h3>
                    <h4><a href="tel:+380684887215">+38 096 657 7116</a></h4>
                    <div class="contact-us-social-container">
                        <a class="contact-us-social" href="https://t.me/alexandrnezhid">
                            <img class="contact-us-social" src="img/tg.svg">
                        </a>
                        <a class="contact-us-social" href="https://www.instagram.com/aventadorkh2.0/">
                            <img class="contact-us-social" src="img/inst.svg">
                        </a>
                    </div>
                </div>
                <div>
                    <div id='map' style='width: auto; height: 100%;'></div>
                </div>
            </div>
        </div>
    </section>
    <section class="callback-popup st0">
        <div class="callback-popup-container">
            <div class="callback-popup-close-container">
                <div class="callback-popup-close">
                    <img src="img/cross.png" alt="">
                </div>
            </div>
            <div>
                <h2>Бажєте записатись або отримати консультацію?</h2>
                <p>Заповніть форму нижче і ми Вам передзвонимо.</p>
            </div>
            <div class="callback-form-container">
                <form class="callback-form" id="callback-popup" method="post">
                    <div class="callback-form-box">
                        <label class="input-title">Ваше ім'я</label>
                        <input type="text" name="name" placeholder="Ім'я" class="input_popup" required>
                    </div>
                    <div class="callback-form-box">
                        <label class="input-title">Ваш телефон</label>
                        <input type="text" name="telephone" class="input_popup phone-mask" required>
                    </div>
                    <div class="callback-form-box">
                        <input id="submitinput_popup" class="submit_popup" value="Передзвоніть мені" type="submit" />
                    </div>
                </form>
                <div id="note_popup"></div>
            </div>
        </div>
    </section>
    <footer>
        <div>
            <img src="/img/visamaster.png" />
        </div>
        <div>
            <a class="termofuselink" href="/termofuses">Правила і умови</a>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script type="text/javascript" src="/js/slick.js"></script>
    <script type="text/javascript" src="/js/main.js?v=3"></script>
</body>

</html>