@page "/termofuses"
@{
}
<!DOCTYPE html>
<html lang="uk">

<head>
    <link href="style.css?v=@Guid.NewGuid()" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <title>Aventador 2.0 | Crossfit</title>
</head>

<body>
    <section class="term-of-uses" style="padding: 10%;">
        <h1 class="term-of-uses-h1 term-of-uses-h2">
            ПУБЛІЧНИЙ ДОГОВІР
        </h1>
        <h1 class="term-of-uses-h1">
            ВИКОНАВЕЦЬ: Фізична особа-підприємець НЕЖИД ОЛЕКСАНДР ГЕННАДІЙОВИЧ та
        </h1>
        <h1 class="term-of-uses-h1">
            КЛІЄНТ:_______
        </h1>
        <p class="term-of-uses-p" style="text-align: center;">
            , з другої сторони, що надалі йменуються разом «Сторони», а кожна окремо – Сторона, уклали цей Договір про надання спортивно-оздоровчих послуг (надалі - Договір) про наступне:
        </p>
        <h2 class="term-of-uses-h2">
            1. ПРЕДМЕТ ДОГОВОРУ
        </h2>
        <p class="term-of-uses-p">
            1.1. В порядку та на умовах, визначених цим Договором, Виконавець бере на себе зобов'язання надавати Клієнту на території Клубу Послуги, а Клієнт зобов'язується оплатити ці Послуги, дотримуватись умов цього Договору та інших  внутрішніх (локальних) документів Виконавця, якими регламентовано порядок та умови відвідування Клубу.
        </p>
        <p class="term-of-uses-p">
            1.2. Послуги надаються згідно з внутрішніми (локальними) документами Виконавця. Місцем надання послуг є м. Харків, вулиця Храмова, 1.
        </p>
        <p class="term-of-uses-p">

        </p>
        <h2 class="term-of-uses-h2">
            2. ВАРТІСТЬ ПОСЛУГ ТА ПОРЯДОК РОЗРАХУНКІВ
        </h2>
        <p class="term-of-uses-p">
            2.1. Вартість Послуг встановлені в затвердженому (погодженому) Виконавцем прейскуранті.
        </p>
        <p class="term-of-uses-p">
            2.2. Клієнт оплачує вартість Послуг за цим Договором в день укладання Договору шляхом стовідсоткової оплати.
        </p>

        <h2 class="term-of-uses-h2">
            3. ПОРЯДОК НАДАННЯ ПОСЛУГ
        </h2>
        <p class="term-of-uses-p">
            3.1. Час відвідування Клієнтом Клубу встановлюється у відповідності до типу обраної Послуги.
        </p>
        <p class="term-of-uses-p">
            3.2. Порядок надання Послуг визначається цим Договором, а також іншими внутрішніми (локальними) документами Виконавця, якими регламентовано порядок та умови відвідування Клубу. Підписанням даного Договору Клієнт засвідчує, що, він ознайомлений з внутрішніми розпорядками Клубу та зобов'язується їх дотримуватися. У разі порушення або невиконання цих умов  – Клієнт несе відповідальність відповідно до умов даного Договору, та чинного законодавства України.
        </p>
        <p class="term-of-uses-p">
            3.3. Клієнт погоджується з тим, що у разі, якщо після укладення цього Договору Клієнт відмовиться від Договору та/або від отримання Послуг в односторонньому порядку чи розірве його, кошти, сплачені ним у відповідності до умов цього Договору, поверненню не підлягають.
        </p>
        <h2 class="term-of-uses-h2">
            4. ВІДПОВІДАЛЬНІСТЬ СТОРІН
        </h2>
        <p class="term-of-uses-p">
            4.1. За порушення зобов'язань за цим Договором Сторони несуть відповідальність, передбачену чинним законодавством України.
        </p>
        <p class="term-of-uses-p">
            4.2. Сторона, яка порушила зобов'язання, звільняється від відповідальності за порушення зобов'язання, якщо вона доведе, що це порушення сталося в наслідок непереборної сили.
        </p>
        <p class="term-of-uses-p">
            4.3. Клієнт несе повну матеріальну відповідальність за шкоду та збитки, які заподіяні Виконавцю. У разі спричинення Клієнтом збитку майну Виконавця, Клієнт зобов’язаний відшкодувати вартість пошкодженого і втраченого майна, на підставі чинного законодавства.
        </p>
        <p class="term-of-uses-p">
            4.4. Підписуючи Договір, Клієнт засвідчує, що не має медичних протипоказань для отримання спортивних послуг в Клубі і несе повну відповідальність за стан свого здоров’я.
        </p>
        <p class="term-of-uses-p">
            4.5. Виконавець не несе відповідальності за шкоду здоров’я або майна Клієнта при порушенні правил техніки безпеки, які спричинені дією третіх осіб.
        </p>
        <p class="term-of-uses-p">
            4.6. Виконавець не несе відповідальності за збереження особистих і цінних речей, залишених Клієнтом в роздягальнях, в шафах, а також на усій території клубу.
        </p>
        <h2 class="term-of-uses-h2">
            5.ПРАВА ТА ОБОВ’ЯЗКИ СТОРІН
        </h2>
        <p class="term-of-uses-p">
            6.1. Клієнт має право:
        </p>
        <p class="term-of-uses-p">
            6.1.1. Отримувати Послуги на умовах та в порядку, передбаченими цим Договором у відповідності до типу обраної ним Послуги;
        </p>
        <p class="term-of-uses-p">
            6.1.2. Замовляти Додаткові послуги за окрему плату;
        </p>
        <p class="term-of-uses-p">
            6.1.3. Змінити тип Послуги на Послугу вищої вартості, за умови здійснення відповідної доплати визначеної Виконавцем;
        </p>
        <p class="term-of-uses-p">
            6.1.4. Відмовиться від Договору та/або від отримання Послуг в односторонньому порядку, письмово сповістивши про це Виконавця за 10 (десять) календарних днів. В такому разі, дія даного Договору припиняється з дати отримання Виконавцем відповідного письмового повідомлення, а Послуга анулюється. При цьому, кошти, оплачені Клієнтом у відповідності до умов цього Договору, поверненню не підлягають.
        </p>
        <p class="term-of-uses-p">
            6.2. Клієнт зобов'язується:
        </p>
        <p class="term-of-uses-p">
            6.2.1. В порядку та строки, що зазначені в даному Договорі, оплатити вартість Послуг за цим Договором, які передбачені і відповідають типу обраної Клієнтом Послуги;
        </p>
        <p class="term-of-uses-p">
            6.2.2. Не передавати право користування Послугами іншим особам для її використання в Клубі;
        </p>
        <p class="term-of-uses-p">
            6.2.3. Відвідувати Клуб в межах його робочого часу, у відповідності до типу обраної Послуги;
        </p>
        <p class="term-of-uses-p">
            6.2.4. Нести відповідальність за шкоду, завдану третім особам, а також відповідальність за свої дії під час відвідування Клубу, включаючи відповідальність за шкоду, завдану Клієнтом особисто чи особами, за яких він відповідає;
        </p>
        <p class="term-of-uses-p">
            6.2.5. Дотримуватись усіх умов цього Договору, та інших внутрішніх (локальних) документів Виконавця, якими регламентовано порядок та умови відвідування Клубу;
        </p>
        <p class="term-of-uses-p">
            6.2.6. Клієнт не має права змінювати тип Послуги, окрім випадків, якщо це є підвищенням ціни на Послуги.
        </p>
        <p class="term-of-uses-p">
            6.3. Виконавець має право:
        </p>
        <p class="term-of-uses-p">
            6.3.1. Вимагати від Клієнта оплати вартості Послуг, відповідно до умов цього Договору;
        </p>
        <p class="term-of-uses-p">
            6.3.2. Вимагати від Клієнта дотримання усіх умов Договору, та інших внутрішніх (локальних) документів Виконавця, що регламентують діяльність Клубу;
        </p>
        <p class="term-of-uses-p">
            6.3.3. Зробити зауваження Клієнту у разі порушення ним даного Договору, та вказувати на підстави такого порушення, а у разі якщо порушення сталось два і більше рази за період дії Послуги - видалити Клієнта з приміщення Клубу. При систематичному (два і більше разів) порушенні правил Клієнтом – позбавити його права відвідувати Клуб без повернення грошових коштів, оплачених за цим Договором. У цьому разі Послуга Клієнта припиняється, а співробітники Виконавця складають та підписують відповідний акт. При цьому, дія даного Договору припиняється з дати складання відповідного акту, та вважається, що Клієнт отримав Послуги, а Виконавець вважається таким, що надав їх належним чином та в повному обсязі;
        </p>
        <p class="term-of-uses-p">
            6.3.4. На власний розсуд відмовити Клієнтові в подальшому відвідуванні Клубу та відмовитися від Договору в односторонньому порядку, письмово сповістивши про це Клієнта за 10 (десять) календарних днів. В такому разі дія даного Договору припиняється з дати отримання Клієнтом відповідного письмового повідомлення, Послуга анулюється, а Виконавець здійснює пропорційне відшкодування грошових коштів за невикористаний період дії придбаної Клієнтом Послуги;
        </p>
        <p class="term-of-uses-p">
            6.3.5. Закривати доступ до спортивного обладнання та інвентарю Клубу і в окремі тренувальні зони під час проведення ремонтних, профілактичних робіт і в силу інших причин, без надання Клієнту додаткової компенсації.
        </p>
        <p class="term-of-uses-p">
            6.3.6. Інші права, передбачені цим Договором, Клубними правилами, іншими внутрішніми (локальними) документами Виконавця, що регламентують Порядок відвідування Клубу, а також чинним законодавством України.
        </p>
        <p class="term-of-uses-p">
            6.4. Виконавець зобов'язується:
        </p>
        <p class="term-of-uses-p">
            6.4.1. Після укладання договору, передати Клієнту оплачену Послугу та надавати Послуги в порядку і на умовах, визначених цим Договором;
        </p>
        <p class="term-of-uses-p">
            6.4.2. Створити необхідні комфортні умови щодо забезпечення належного функціонування спортивного обладнання та інвентарю, а також необхідних побутових приладів для Клієнта протягом терміну дії Договору;
        </p>
        <h2 class="term-of-uses-h2">
            7. ПОРЯДОК ПОВЕРНЕННЯ КОШТІВ ТА ВИРІШЕННЯ СПОРІВ
        </h2>
        <p class="term-of-uses-p">
            7.1. У разі виникнення труднощів у користуванні чи претензій до якості надання послуг Клієнт може звернутись з мотивованим зверненням за контактним номер Виконавця +380966577116.
        </p>
        <p class="term-of-uses-p">
            7.2. Усі суперечки та розбіжності, що виникають у зв’язку з виконанням цього Договору, Сторони вирішують шляхом переговорів. У випадку, якщо суперечки та/або розбіжності, не можуть бути вирішені шляхом переговорів, вони вирішуються в судовому порядку за встановленою підвідомчістю та підсудністю такого спору відповідно до чинного законодавства України.
        </p>
        <h2 class="term-of-uses-h2">
            8. СТРОК ДІЇ ДОГОВОРУ, ВНЕСЕННЯ ЗМІН  ТА РОЗІРВАННЯ
        </h2>
        <p class="term-of-uses-p">
            8.1. Для кожного конкретного Клієнта цей Договір набуває чинності та вважається укладеним з моменту його підписання  Клієнтом (його уповноваженою особою або представником), а також здійснення оплати у відповідності до п. 2.3. даного Договору. При цьому зобов'язання Виконавця щодо надання Послуг Клієнтові виникають з моменту першого відвідування Клубу. Даний Договір діє до останнього дня строку дії Послуги.
        </p>
        <p class="term-of-uses-p">
            8.2. Цей Договір може бути в односторонньому порядку припинений будь-якою із Сторін, в тому числі шляхом відмови від нього, в порядку та на умовах, передбачених даним Договором
        </p>
        <h2 class="term-of-uses-h2">
            9. ІНШІ УМОВИ
        </h2>
        <p class="term-of-uses-p">
            9.1. Якщо Клієнт не відвідує Клуб, не використовує свою Послугу або використовує її не у повному обсязі внаслідок вагітності, відрядження, хвороби та (або) внаслідок будь-яких інших причин, строк дії Послуги не змінюється, а дата закінчення строку її дії не переноситься, і, відповідно грошові кошти, сплачені Клієнтом за цим Договором, поверненню не підлягають.
        </p>
        <p class="term-of-uses-p">
            9.2. Підписуючи даний Договір Клієнт підтверджує наступне:
            <br />
            а) Клієнт ознайомлений (і) та свідомо погоджується дотримуватись всіх умов Договору, а також усіх внутрішніх (локальних) документів Виконавця;
            <br />
            б) стан здоров'я Клієнта дозволяє йому (їм) бути споживачем Послуг Виконавця у відповідності до цього Договору, і що Клієнт не має протипоказань щодо занять спортом взагалі та фізичних навантажень - зокрема;
        </p>
        <p class="term-of-uses-p">
            9.4. Клієнт надає згоду на обробку його персональних даних Виконавцем за цим Договором та включення його персональних даних до відповідних баз персональних даних Виконавця, для цілей укладення та виконання цього Договору, та з усіма правами суб’єкта персональних даних відповідно положень та вимог Закону України «Про захист персональних даних» від 01.06.2010р. № 2297-VI.
        </p>
        <p class="term-of-uses-p">
            9.5. Клієнт погоджується, що Виконавець має право використовувати персональні дані Клієнта у тому числі, але не виключно з метою для цілей повідомлення Клієнта про нові послуги та рекламні пропозиції Виконавця і його партнерів, контрагентів, шляхом відправлення SMS, ММS, електронних повідомлень, пошти і т.п.
        </p>
        <h2 class="term-of-uses-h2">
            10. БАНКІВСЬКІ РЕКВІЗИТИ
        </h2>
        <div class="term-of-uses-pay">
            <div>
                ФОП НЕЖИД ОЛЕКСАНДР ГЕННАДІЙОВИЧ
                <br />
                Адреса: Україна, Харківська обл., Богодухівський р-н,
                <br />
                село Семенів Яр, вулиця Шкільна, будинок 8
                <br />
                ІПН 3462104030
                <br />
                IBAN UA69 3808 0500 0000 0026 0046 1203 2
                <br />
                В АТ «РАЙФФАЙЗЕН БАНК»
                <br />
                Контактний номер: +380966577116.
                <br />
                __________________  Нежид О.Г.
            </div>
            <div>

            </div>
        </div>
    </section>
</body>
</html>